<li class="project">
    <a class="project__detail" href="projectDetail.html?id={{detailId}}&type={{detailType}}" aria-label="Afficher les détails du projet {{title}}"></a>
    <div class="project__top">
        <h3 class="project__title">{{title}}</h3>
        <label for="project__checkbox-{{id}}">
            <svg class="project__arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="menu-arrow">
                <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
        </label>
    </div>
    <p class="project__desc">{{description}}</p>
    <span class="project__info">{{type}}</span>
    <input type="checkbox" id="project__checkbox-{{id}}" class="project__checkbox">
    <div class="project__menu">
        <a href="projectDetail.html?id={{detailId}}&type={{detailType}}" aria-label="Afficher les détails du projet {{title}}">
            <img src="{{image}}" alt="visuel {{title}}" width="600" height="338">
        </a>
    </div>
    <div class="project__menu-floating">
        <img class="floating__img" src="{{image}}" alt="visuel {{title}}" width="600" height="338">
    </div>
</li>