.hero {
  position: relative;
  height: 120dvh;
  view-timeline-name: --hero-timeline;
  
}

.hero__title {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(3rem, 6vw + 1rem, 8rem);
  text-align: center;
  color: var(--clr-main);
  z-index: 2;
  transition: color 1s linear;
}

.hero__sticky {
  position: sticky;
  top: 0;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero__dot {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: var(--clr-main);
  border-radius: 50%;
  animation: move-and-grow linear forwards;
  animation-timeline: --hero-timeline;
  animation-range: exit 0% exit 100%;
  opacity: 0;
  transition: background-color 1s linear;
}

.video-ended .hero__dot {
  opacity: 1;
}
@supports not (animation-timeline: view()) {
  .hero__dot {
    animation: none;
  }
}

@keyframes move-and-grow {
  0%   { transform: translateY(0) scale(1); }
  20%  { transform: translateY(20dvh) scale(1); }
  40%  { transform: translateY(40dvh) scale(5); }
  60%  { transform: translateY(50dvh) scale(10); }
  80%  { transform: translateY(50dvh) scale(50); }
  100% { transform: translateY(50dvh) scale(50); }
}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease-out;
  pointer-events: none;
}
#preloader.loaded {
  display: none !important;
}

#animVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}