.video{
  color: var(--clr-main);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  transition: color 1s linear;
    .video__title {
            font-size: clamp(2rem, 4vw + 1rem, 3.5rem);
        }
        .video__list {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            width: 100%;
            @media(min-width: 55em){
                padding: 0;
                flex-direction: row;
                gap: 0;
                height: 50dvh;
            }
            .video__play {
                display: flex;
                width: 100%;
                @media(min-width: 55em){
                    &:hover {
                        .video__cover {
                            width: 100%;
                            visibility:visible;
                            opacity: 1;
                            transition: opacity 1s, visibility 0s 0s;
                        }
                        .video__nb{
                            display: none;
                        }
                    }
                }
                .video__nb {
                    display: none;
                    font-size: 2rem;
                    @media(min-width: 55em){
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        flex: 1 1 auto;
                        padding: 0 2rem;
                        border-right: solid 2px var(--clr-main);
                        color: var(--clr-main);
                        transition:border-right 1s linear, color 1s linear;
                    }
                }
    
                .video__cover {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    aspect-ratio: 16/9;
                    border: solid 2px var(--clr-sec);
                    @media(min-width: 55em){
                        width: 0;
                        visibility: hidden;
                        opacity: 0;
                        transition: opacity 1s, visibility 0s 0s;
                        border: none;

                    }
                    .video__img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
}