<div class="about">
    <input type="checkbox" id="containerToggle">
    <input type="checkbox" id="textToggle">
    <div class="container">
        <div class="main">
            <label for="containerToggle" class="center">
                <img class="center__eyes" src="../asset/logo/eyes.png" alt="">
            </label>
            {{subject}}
        </div>
        <div class="desc">
            <div class="desc__content">
                <h1 class="desc__title">{{title}}</h1>
                <p class="desc__text">{{description}}</p>
                <a href="{{link}}" aria-label="{{linkName}}" class="desc__linkname" target="_blank">{{linkName}}</a>
            </div>
            <ul class="desc__images">
                {{images}}
            </ul>
        </div>
    </div>
</div>